@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

.explore-screen {
  background-image: url(../../images/loginbackground.jpg);
  background-size: cover;
  height: 90vh;
  margin: 60px 0 0 0;
  width: 360px;
}

.explore-button {
  background: rgb(32, 193, 214);
  border-radius: 50px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
  color: black;
  font-size: 30px;
  height: 82px;
  line-height: 80px;
  margin-top: 40px;
  text-align: center;
  width: 300px;
}

.explore-food-button {
  background: rgb(32, 193, 214);
  border-radius: 50px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Crimson Text', serif;
  font-size: 30px;
  height: 82px;
  left: 30px;
  line-height: 80px;
  margin-top: 50px;
  position: relative;
  text-align: center;
  width: 300px;
}

.explore-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 450px;
  align-items: center;
  justify-content: center;
}

.explore-menu p {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  color: white;
}

.select-filter {
  position: relative;
  text-align: center;
  width: 50%;
  height: 40px;
  background-color: rgb(32, 193, 214);
  border-radius: 20px;
  display: block;
  margin: 20px auto;
  top: 20px;
  color: white;
}

.ingridients-list {
  padding-top: 30px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
