.foodTitle {
  color: rgb(32, 193, 214);
  font-family: Chalkduster, Times New Roman, Times, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  width: 200px;
}

.searchIcon {
  background-color: transparent;
  border: none;
}

.headerDiv {
  align-items: center;
  background-color: #CCE8ED;
  display: flex;
  height: 70px;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 360px;
  z-index: 1;
}

.headerDiv>div {
  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerDiv>div:first-child {
  background-color: rgb(32, 193, 214);
}

.no-search-button {
  background-color: transparent;
}

.with-search-button {
  background-color: rgb(32, 193, 214);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}