.userProfileIcon {
  height: 30px;
  left: 15px;
  position: absolute;
  top: 16px;
  width: 30px;
}

.foodTitle {
  align-items: flex-end;
  color: black;
  display: flex;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  height: 35px;
  left: 123px;
  line-height: 35px;
  position: absolute;
  top: -10px;  
  width: 119px;
}

.searchIcon {
  height: 30px;
  left: 317px;
  position: absolute;
  top: 18px;
  width: 30px;
}

.headerDiv {
  background: #c4c4c4;   
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;    
  width: 360px;
}
