.login-screen {
  align-items: center;
  background-image: url(../../images/loginbackground.jpg);
  background-size: cover;
  border: 1px solid black;
  box-shadow: gray 5px 5px 2px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
}

h2 {
  color: black;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
}

.btn-login {
  width: 40%;
  margin-top: 20px;
  background-color: rgb(32, 193, 214);
}

.btn-login:disabled {
  opacity: 0.7;
  width: 40%;
  margin-top: 20px;
  background-color: rgb(32, 193, 214);
}

.input-login {
 margin: auto;
  width: 70%;
  color: rgb(32, 193, 214);
}

.app-name {
  color: rgb(32, 193, 214);
  font-size: 4rem;
  font-family: 'Chalkduster';
}

.input-login {
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid rgb(32, 193, 214);
  padding: 15px 0;
  color: rgb(32, 193, 214);
}