.food-screen {
  background-image: url("../../images/loginbackground.jpg");
  background-size: cover;
  margin: 70px 0;
  min-height: 80vh;
  width: 360px;
}

.recipes-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.recipes-results p {
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 10px;
  max-height: 50px;
  text-align: center;
  width: 150px;
}

.button-div {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  text-align: center;
}

.product-pic {
  align-items: center;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-bottom: 20px;
  width: 160px;
}

.product-pic-0 {
  background-color: #dfbc41;
}

.product-pic-1 {
  background-color: #e7736a;
}

.product-pic-2 {
  background-color: #fcf7c9;
}

.product-pic-3 {
  background-color: #c9da73;
}

.product-pic-4 {
  background-color: #d3a585;
}

.product-pic-5 {
  background-color: #fac55e;
}

.product-pic-6 {
  background-color: #Fbf8d7;
}

.product-pic-7 {
  background-color: #63c252;
}

.product-pic-8 {
  background-color: #c79b7e;
}

.product-pic-9 {
  background-color: #f9f5bf;
}

.product-pic-10 {
  background-color: rgb(180, 211, 230);
}

.product-pic-11 {
  background-color: #c67206;
}


.button-main-screen {
  background-color: #3ec1D6;
  border: none;
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-size: 10px;
  font-weight: 800;
  height: 50px;
  margin: 5px 10px;
  opacity: 0.8;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.loader {
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  height: 60px;
  width: 60px;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.recipe-image {
  border-radius: 50%;
}

button {
  background-color: blue;
  transition: 0.3s;
}

h5 {
  font-family: Roboto, serif;
}
