.container-profile {
  background-image: url('../../images/loginbackground.jpg');
  height: 100vh;
}

.profile-screen-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}

.profile-screen-buttons h1 {
  font-size: 20px;
  margin: 100px 0 0;
}

.profile-screen-buttons button {
  background: rgb(32, 193, 214);
  border-radius: 50px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: Crimson Text, serif;
  font-size: 30px;
  height: 82px;
  line-height: 50px;
  text-align: center;
  width: 300px;
}
