.header-profile {
  align-items: center;
  background: #c4c4c4;
  display: flex;
  height: 58px;
  margin-bottom: 60px;
  width: 360px;
}

p {
  font-size: 35px;
  margin-left: 28%;
}

button {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 53px;
  width: 329px;
}

.container-profile {
  text-align: center;
}
