.userProfileIcon {
position: absolute;
width: 30px;
height: 30px;
left: 15px;
top: 16px;
}

.foodTitle {
  position: absolute;
  width: 119px;
  height: 35px;
  left: 123px;
  top: -10px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;  
  color: #000000;
}

.searchIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 317px;
  top: 18px;
}

.headerDiv {
    position: absolute;
    width: 360px;
    height: 58px;
    left: 0px;
    top: 0px;    
    background: #C4C4C4;   
}