html {
  height: 100vh;
  width: 360px;
}

#searched-item {
  display: block;
  margin: 10px auto;
  width: 90%;
}

.radio-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.search-button {
  background-color: rgb(165, 165, 165);
  margin-left: 17px;
  margin-bottom: 20px;
}

.recipes-results {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipes-results > img, h5, h1 {
  text-align: center;
  width: 100%;
}
 
.product-pic-recomendation > img, h5 {
  margin: 30px;
  text-align: center;
  width: 150px;
}

.product-pic {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.product-pic-recomendation {
  align-items: center;
  overflow-x: auto;
  display: flex;
}

span {
  margin: 5px;
}

p {
  text-align: justify;
}

.youtube {
  width: 350px;
}

.start-button {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

.share-and-favourite > button {
  background-color: orange;
  margin-bottom: 50px;
  width: 50%;
}

.share-and-favourite > img {
  display: inline-block;
  text-align: center;
  background-color: orange;
}

.share-and-favourite {
  display: flex;
  background-color: orange;
  margin-bottom: 50px;
}

.search-area {
  margin-top: 50px;
}

.favorite-filter-buttons {
  margin-top: 50px;
}