
#searched-item {
  display: block;
  margin: 10px auto;
  width: 90%;
}

.radio-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.search-button {
  background-color: rgb(165, 165, 165);
  margin-left: 17px;
  margin-bottom: 20px;
}

.recipes-results {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipes-results > img, h5, h1 {
  text-align: center;
  width: 100%;
}
 


span {
  margin: 5px;
}

p {
  text-align: justify;
}

